


<h1 style="color:purple;">Welcome to Student Book</h1> 




<%= render "sessions/new" %>



<div><a href='/teachers'>Help?</a></div><div><a href='/parents'>About</a></div><div><a href='/students'>Sign up</a></div>