<h1 style="color:purple;">Welcome</h1> 
<h3 stlye="color:purple;">Please click on the Teacher portal, Parent portal, or the student portal</h3>

<div><a href='/teachers'>Teacher</a></div><div><a href='/parents'>Parent</a></div><div><a href='/students'>Student</a></div>