@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



.panel-purple {
    border-color: #CC33FF;
}

.panel-purple .panel-heading {
    border-color: #CC33FF;
    color: #fff;
    background-color: #CC33FF;
}

.panel-purple a {
    color: #CC33FF;
}

.panel-purple a:hover {
    color: #9900FF;
}

.content{
	height: 100%;
}


td, th{ text-align: center; }

.content {
  padding-bottom: 2
}



@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  @include loop-grid-columns($grid-columns, $class, pull);
  @include loop-grid-columns($grid-columns, $class, push);
  @include loop-grid-columns($grid-columns, $class, offset);
  @include loop-grid-columns($grid-columns, $class, offset-right);
}